extends layout.pug

block content
    section.container
        h1.header= title
        article.item
            form.form(method="post", action="/")
                fieldset
                    div
                        input(type="text", name="name", placeholder="Nombre", required)
                    div
                        input(type="text", name="twitter", placeholder="Twitter", required)
                    div
                        input(type="text", name="country", placeholder="País", required)
                    div
                        input(type="text", name="side", placeholder="Equipo", required)
                    div
                        input.button.add(type="submit", value="Agregar")
        a.button.show(href="/") Inicio