extends layout.pug

block content
    .error
        h1 Error N° #{error.status}:
        h2= error.statusText
        a.button.show(href="/") Inicio
        .item
            pre #{error.stack}
        img(src="indentation-war.png", alt="", srcset="")