extends layout.pug

block content
    section.contenedor
        section.container
            h1.header= title
            article.item
                form.form(method="post", action="/")       
                    div
                        input(type="text", name="email", placeholder="Email", required)
                    div
                        input(type="text", name="nick", placeholder="Nick", required)
                    div
                        input(type="text", name="name", placeholder="Nombre", required)
                    div
                        input(type="text", name="last_name", placeholder="Apellido", required)
                    div
                        input(type="password", name="password", placeholder="Contraseña", required)
                    div
                        input.button.add(type="submit", value="Register")

        section.container.num2
            h1.header LOGIN TO VALOOP
            article.item
                form.form(method="post", action="/")       
                    div
                        input(type="text", name="email", placeholder="Email", required)
                    div
                        input(type="password", name="password", placeholder="Contraseña", required)
                    div
                        input.button.add(type="submit", value="LOGIN")