*, *:after, *:before {
	box-sizing: border-box;
}


body {
	font-family: 'Century Gothic';
	font-size: 16px;
	background-color: #052433;
	margin: 0;
	padding: 0;
	height: 100vh;
}

.contenedor {
	display: flex;
}


a { text-decoration: none; }

.container {
	min-height: 600px;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding: 3em 0;
}

.num2 {
	background: #041721;
	border-left: 2px solid white;
}

fieldset {
	padding: 1rem;
	border-radius: 10px;
}

input[type="text"] {
	font-family: 'Century Gothic';
	background: #F9F7F7;
}

:focus { outline: thin solid #EC673A; }

.header {
	padding: .5em;
	font-size: 3em;
	color: #CC2936;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 white;
	margin: 0;
}

.item { 
	padding: 1rem;
	margin: 1rem;
}

.button {
	border: thin solid #0075F2;
	color: #0075F2;
	font-weight: 600;
	transition: all .2s ease;
}

.button:hover { opacity: .8; }

.add { 
	background: #E8EDFC;
	padding: .5em .8em;
	text-transform: uppercase;
	border: 1px solid white;	
	font-family: 'Segoe UI';
	font-size: 1.2rem;
	margin-top: 2.5rem;
}

.edit { background-color: #0871B2; }

.delete { background-color: #D23641; }

.show { background-color: #141414; }

.error {
	background-color: #D23641;
	border: thin solid #292623;
	color: #EEE;
	font-size: 2rem;
	margin: 2rem auto;
	padding: 1rem;
	text-align: center;
}

.form {
	margin: 0;
}

input {
	padding: 1.2rem;
	margin: .5rem;
	width: 50%;
	font-size: 1rem;
	font-family: 'Century Gothic';
}

input[type="submit"] { 
	cursor: pointer; 
	width: 20%;
}

.error pre {
	font-size: 1rem;
	width:100%;
	word-wrap:break-word;
}


.table {
	border-collapse: collapse;
	border: thin solid #292623;
	margin: 2rem auto;
	text-align: left;
	width:100%
}

.table td, .table th { padding: 1rem; }

.table tr:first-child { 
	background-color: #292623;
	color: #EEE;
}

.table tr:nth-child(even) { background-color: #DDD; }

.table tr:nth-child(odd):not(:first-child) { background-color: #EEE; }